name: Deploy to AWS EC2

on:
    push:
        branches:
            - main  # will trigger on a push to main branch (pull request)

jobs:
    deploy:
        runs-on: ubuntu-latest  # run on Github hosted VM

        steps:
        - name: Checkout repository
          uses: actions/checkout@v3  # clone repository onto the runner

        - name: Set up SSH agent
          uses: webfactory/ssh-agent@v0.5.3  # loads the SSH key onto the runner
          with:
              ssh-private-key: ${{ secrets.AWS_EC2_SSH_KEY }}

        - name: SSH into EC2 and navgiate to app
          run: |
              ssh -o StrictHostKeyChecking=no ubuntu@3.129.240.110 "export PATH=\$PATH:/home/ubuntu/.nvm/versions/node/v20.18.0/bin/ \
              && . ./set_env.sh \
              && cd ECE-461-Team/ \
              && git pull \
              && npm install \
              && npm audit fix \
              && cd backend/ \
              && npm install \
              && npm audit fix \
              && npm run build \
              && cd ../frontends \
              && npm install \
              && npm audit fix \
              && npm run build \
              && sudo -E forever stopall \
              && sudo -E forever start ../backend/dist/index.js"
          
